In [1]:
%matplotlib notebook
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine
from values import keys
from values import keys1

ModuleNotFoundError: No module named 'values'

In [ ]:
engine = create_engine(f"postgresql://{keys}:{keys1}@localhost:5432/hw2")

In [ ]:
conn = engine.connect()

In [ ]:
salaries = pd.read_sql("SELECT * FROM salaries", conn)
departments = pd.read_sql("SELECT * FROM departments", conn)
dept_emp = pd.read_sql("SELECT * FROM dept_emp", conn)
dept_manager = pd.read_sql("SELECT * FROM dept_manager", conn)
titles = pd.read_sql("SELECT * FROM titles", conn)
employees = pd.read_sql("SELECT * FROM employees", conn)
employees.head(10)

In [ ]:
salaries.head()

In [ ]:
#pd.merge(cap_max,mouse_study, on = ("Mouse ID", "Timepoint"), how = "left")
merge1 = pd.merge(employees, salaries, on = ("emp_no"), how = "left")
#merge1.rename(columns={"emp_title_id": "title_id"})
merge1

In [ ]:
#result = pd.merge(user_usage,user_device[['use_id', 'platform', 'device']],on='use_id',how='left')
#result.head()
merge2 = pd.merge(merge1, titles, left_on = "emp_title_id", right_on = "title_id", how ="left")
merge2

In [ ]:
#Create a histogram to visualize the most common salary ranges for employees.
salary = merge2["salary"]
salary
salary.plot(kind = 'hist', grid = 'true', color = 'teal')
plt.xlabel("Salary")
plt.ylabel("Frequency")
plt.title("Common Salary Ranges")
plt.show

In [ ]:

avg_title = merge2.groupby("title")["salary"].mean()
avg_title

In [ ]:
#Create a bar chart of average salary by title.
avg_title.plot(kind = "bar", facecolor = "fuchsia", title = "Average Salary", rot = "45") 
plt.ylabel("Average Salary")
plt.xlabel(" Job Titles")

plt.show()
plt.tight_layout()